<div class='main'>
    <H2 class='main__title'>Addon Test</H2>
    <div class="main__content">
        <div class='main__form'>
            <button class='button' (click)='update(null)'>New</button>
            <h3>Form</h3>
            <app-form *ngIf='!selecting' [addon]='addonSelected' (onSave)='save($event)'></app-form>
        </div>
        <div class='main__list'>
            <h3>List:</h3>
            <div class="main__list-item" *ngFor='let addon of addonList$ | async'>
                <app-addon [addon]='addon' (onUpdate)='save($event)'> </app-addon>
                <button class='button' (click)='update(addon)'>update</button>
            </div>
            <div *ngIf='(addonList$ | async).length === 0'>No data </div>
        </div>
    </div>
</div>