<div class='addon' *ngIf='addon'>
    <img class='addon__icon' src="../assets/icons/{{addon.characteristics[0].icon}}.svg" alt="icon">
    <div class="container">
        <div class="name">{{addon.characteristics[0].label | titlecase}}</div>
        <div [id]='track' class="slider-track"></div>
        <input type="range" (change)='sendValues()' min="0" max="100" [value]="addon.characteristics[0].value.min "
            [id]="slider1" (input)="slideOne()">
        <input type="range" (change)='sendValues()' min="0" max="100" [value]="addon.characteristics[0].value.max"
            [id]="slider2" (input)="slideTwo()">
        <div class='addon__labels'>
            <span>{{addon.characteristics[0].minLabel}}</span>
            <span>{{addon.characteristics[0].medLabel}}</span>
            <span>{{addon.characteristics[0].maxLabel}}</span>
        </div>
    </div>
</div>